{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <li><a>Bonjour {{ app.user.username }}</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ 'user.menu.deco'|trans }}</a></li>
{% else %}
    <li><a href="{{ path('fos_user_registration_register')}}"><span class="glyphicon glyphicon-user"></span> {{ 'user.menu.register'|trans }}</a></li>
    <li><a href="{{ path('fos_user_security_login')}}"><span class="glyphicon glyphicon-log-in"></span> {{ 'user.menu.co'|trans }}</a></li>
{% endif %}